.post {
  &:not(:last-child) {
    margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid #eee;
  }

  .post-title a {
    font-weight: bold;
    color: #333;
    font-size: 28px;
    line-height: 34px;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid #eee;
    }
  }

  .post-meta {
    color: #888;
    margin: 15px 0;
  }
}
